@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100vh;
}

@layer base {
  :root {
    --background: 222 62% 95%;
    --foreground: 222 5% 10%;
    --card: 222 50% 90%;
    --card-foreground: 222 5% 15%;
    --popover: 222 62% 95%;
    --popover-foreground: 222 95% 10%;
    --primary: 222 76% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 184 30% 85%;
    --muted-foreground: 222 5% 35%;
    --accent: 184 30% 80%;
    --accent-foreground: 222 5% 15%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 222 5% 90%;
    --border: 222 30% 50%;
    --input: 222 30% 24%;
    --ring: 222 76% 31%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 50% 10%;
    --foreground: 222 5% 90%;
    --card: 222 50% 10%;
    --card-foreground: 222 5% 90%;
    --popover: 222 50% 5%;
    --popover-foreground: 222 5% 90%;
    --primary: 222 76% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 184 30% 24%;
    --muted-foreground: 222 5% 60%;
    --accent: 184 30% 24%;
    --accent-foreground: 222 5% 90%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 222 5% 90%;
    --border: 222 30% 24%;
    --input: 222 30% 24%;
    --ring: 222 76% 31%;
    --radius: 0.5rem;
  }
}
